body{
    background:#eff3f6;
}

.boxLogin {
    border: 2px solid black;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: right;
}

.singIn {
    float: right;
}
